body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    width: 100vw;
    height: 55vh;
    background: #A7C3F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
.box {
    width: 55%;
    height: 45%;
    background: #fff;
    border-radius: 30px;
    padding: 1%;
    border-style: solid;
    border-color: #614895;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    }
.box:hover{
        background-color: #614895;
        color: #fff;
    }
.calcular{
    text-align: center;
    background-color: #A7C3F5;
    padding: 1%;
    border-bottom-left-radius: -50px;
    border-bottom-right-radius: -50px;
}
.botao{
    background-color: none;
    border-radius: 30px;
    border-color: #614895;
    padding: 1%;
    font-family: 'Bebas Neue','Courier New','Helvetica', Courier, monospace;
    font-size: 190%;
    width: 35%;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}
.botao:hover{
    background-color: #614895;
    color: #fff;
}
#resultado{
    font-size: 250%;
    text-align: center;
}